* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.tugma {
    width: 197.75px;
    height: 49.12px;
    border-radius: 55px;
    background-color: transparent;
    border: 3px solid #458FF6;
    color: #458FF6;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 700;
    line-height: 21.24px;
    transition: all 0.3s;
}

.second_section {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tugma:hover {
    background-color: #458FF6;
    color: white;
    transition: all 0.3;
    cursor: pointer;
    transition: all 0.3s;
}

.title {
    font-family: Mulish;
    font-size: 48px;
    font-weight: 700;
    margin-top: 76px;

}

.img11 {
    width: 628px;
    height: 469px;
}

.ong_title {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;

    width: 435px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    margin: 75px 130px 0 130px;
    margin-left: 117px;
    width: 1180px;
    height: 516px;
}

.img11 {
    margin: 75px 117px 0 0;
}

.ong_description {
    font-family: Mulish;
    font-size: 19px;
    font-weight: 300;
    color: #7D7987;
    width: 433px;
    margin: 26px 0 35px 0;
    letter-spacing: 0.3px;
    line-height: 32px;
    margin: 62px 130px 41px 0;
}

.chp {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    margin-top: 152px;
    width: 462px;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 516px;
    gap: 20px;
}

.card1 {
    width: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  

}

.card1_title {
    font-family: Mulish;
    font-size: 21px;
    font-weight: 700;
    margin-top: 25px 99px 10px 30px;

}

.card1_description {
    color: #7D7987;
    display: flex;
    justify-content: start;
    align-items: center;

}
.card2{
    width: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.card3{
    width: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;


}
.footer_chas{
    background-color: #67C3F3;
    width: 0 auto;
    height: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 230px;
}